/Arquivos/nbproject/private/
/Arquivos/build/
/Trabalhando-com-arquivos/Reader/nbproject/private/
/Trabalhando-com-arquivos/Reader/build/
/Trabalhando-com-arquivos/try-resources/nbproject/private/
/Trabalhando-com-arquivos/try-resources/build/